<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY BUS</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/logo72x72.png">
    <link rel="icon" type="image/icon" sizes="32x32" href="./assets/favicon/logo32x32.png">
    <link rel="icon" type="image/icon" sizes="16x16" href="./assets/favicon/logo16x16.png">
    <link rel="manifest" href="./assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Icon -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/main.css">

    <!-- Script -->
    <script src="./assets/js/scripts.js"></script>

</head>

<body>
    <!-- Header -->
    <header id="header" class="header"></header>
    <script>
        load("#header", "./templates/header-logined.html");
    </script>

    <a href="#home" class="back-to-top">
        <i class="bx bxs-to-top"></i>
    </a>

    <!-- Main -->
    <main class="container home">
        <!-- Search tickets -->
        <div class="search-form">
            <form action="" class="search-form__form">
                <!-- Chọn loại vé -->
                <div class="search-form__select">
                    <div class="search-form__select search-form__select--left">
                        <div class="search-form__radio">
                            <div class="search-form__text-input">
                                <input type="radio" checked name="option" id="option1" class="search-form__input">
                            </div>
                            <label for="option1" class="search-form__label--option">Một chiều</label>
                        </div>
                        <div class="search-form__radio">
                            <div class="search-form__text-input">
                                <input type="radio" name="option" id="option2" class="search-form__input">
                            </div>
                            <label for="option2" class="search-form__label--option">Khứ hồi</label>
                        </div>
                    </div>
                    <div class="search-form__select search-form__select--right d-lg-none">
                        <a href="#!" class="text-value">Hướng dẫn mua vé</a>
                    </div>
                </div>

                <!-- Chọn thông tin -->
                <div class="search-form__content">
                    <!-- Row 1 -->
                    <div class="search-form__row search-form__row--left">
                        <div class="search-form__group search-form__group--left">
                            <label for="go-on" class="search-form__label">Điểm đi</label>
                            <div class="search-form__text-input input-search">
                                <input type="text" id="go-on" placeholder="Chọn điểm đi" required
                                    class="input-search__input input-search__input--go-on">
                            </div>
                        </div>
                        <img src="./assets/icons/switch_location.svg" class="search-form__group--icon switch-icon"
                            alt="">
                        <div class="search-form__group search-form__group--right">
                            <label for="go-off" class="search-form__label">Điểm đến</label>
                            <div class="search-form__text-input input-search">
                                <input type="text" id="go-off" placeholder="Chọn điểm đến" required
                                    class="input-search__input input-search__input--go-off">
                            </div>
                        </div>
                    </div>

                    <div class="separate d-none d-lg-block"></div>

                    <!-- Row 2 -->
                    <div class="search-form__row">
                        <div class="search-form__group">
                            <label for="full-name" class="search-form__label">Ngày đi</label>
                            <div class="search-form__text-input input-search">
                                <input type="date" id="full-name" placeholder="Chọn ngày đi" required
                                    class="input-search__input">
                            </div>
                        </div>
                        <div class="search-form__group search-form__group--lg">
                            <label for="full-name" class="search-form__label">Số vé</label>
                            <div class="search-form__text-input input-search input-search__icon d-lg-none">
                                <input type="text" id="full-name" value="1" required class="input-search__input">
                                <span class="d-lg-none">
                                    <img src="./assets/icons/arrow_down_select.svg" alt="">
                                </span>
                            </div>
                            <div class="search-form__text-input input-search input-search__icon--lg d-none d-lg-flex">
                                <span>1</span>
                                <img src="./assets/icons/arrow_down_select.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="search-form__bottom">
                    <button class="search-form__bottom--button btn btn--primary btn--rounded">Tìm chuyến xe</button>
                </div>
            </form>
        </div>

        <!-- Quy định -->
        <section id="rules" class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Quy định cơ bản</h2>
            </div>
            <div class="home__rules row row-cols-2 row-cols-lg-1">
                <!-- Rules 1 -->
                <div class="col">
                    <article class="rules-item">
                        <div class="rules-item__info">
                            <div class="rules-item__title">
                                <span>
                                    <img class="rules-item__title--icon" src="./assets/icons/attach.svg" alt="">
                                </span>
                                <p class="rules-item__title--text">Hành lý ký gửi</p>
                            </div>
                            <div class="rules-item__desc">
                                <span>
                                    <img class="rules-item__desc--icon" src="./assets/icons/info.svg" alt="">
                                </span>
                                <p class="rules-item__desc--text">
                                    Tư trang, tiền, vàng bạc có giá trị, đồ vật dễ vỡ, các thiết bị điện tử, các giấy tờ
                                    có tính pháp lý,… quý khánh nên
                                    mang theo bên người, chúng tôi <strong>không chịu trách nhiệm </strong>lưu giữ và
                                    đền bù nếu xảy ra mất mát.
                                </p>
                            </div>
                            <div class="rules-item__desc">
                                <span>
                                    <img class="rules-item__desc--icon" src="./assets/icons/info.svg" alt="">
                                </span>
                                <p class="rules-item__desc--text">
                                    Chúng tôi chỉ miễn phí đối với hành lý ký gửi <strong>dưới 15kg</strong>. Nếu hành
                                    lý của quý khách vượt quá giới hạn cho phép, nhân viên
                                    của chúng tôi sẽ <strong>thu thêm phí.</strong> 
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Rules 2 -->
                <div class="col">
                    <article class="rules-item">
                        <div class="rules-item__info">
                            <div class="rules-item__title">
                                <span>
                                    <img class="rules-item__title--icon" src="./assets/icons/people.svg" alt="">
                                </span>
                                <p class="rules-item__title--text">Hành khách đi kèm</p>
                            </div>
                            <div class="rules-item__desc">
                                <span>
                                    <img class="rules-item__desc--icon" src="./assets/icons/info.svg" alt="">
                                </span>
                                <p class="rules-item__desc--text">
                                    Chúng tôi chỉ <strong>miễn phí</strong> cho hành khách đi kèm có chiều cao dưới
                                    <strong>1.2m.</strong> Nếu vượt quá giới hạn cho phép, nhân viên của chúng
                                    tôi sẽ coi là một hành khách bình thường.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Tuyến hoạt động -->
        <section id="routes" class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Tuyến hoạt động</h2>
                <span class="home__heading--content">Được khách hàng đón nhận</span>
            </div>
            <div class="home__route">
                <!-- Route 1 -->
                <article class="route-item">
                    <div class="route-item__thumb">
                        <img loading="lazy" width="360" height="140" decoding="async" src="./assets/imgs/sg.png" alt=""
                            class="">
                    </div>
                    <div class="route-item__intro">
                        <span class="route-item__intro--text">Tuyến xe từ</span>
                        <br>
                        <span class="route-item__intro--bold">Hà Tĩnh</span>
                    </div>
                    <div class="route-item__list">
                        <!-- Item 1 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Nẵng</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 2 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Lạt</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 3 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đak Lak</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                    </div>
                </article>
                <!-- Route 2 -->
                <article class="route-item">
                    <div class="route-item__thumb">
                        <img loading="lazy" width="360" height="140" decoding="async" src="./assets/imgs/sg.png" alt=""
                            class="">
                    </div>
                    <div class="route-item__intro">
                        <span class="route-item__intro--text">Tuyến xe từ</span>
                        <br>
                        <span class="route-item__intro--bold">Hà Tĩnh</span>
                    </div>
                    <div class="route-item__list">
                        <!-- Item 1 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Nẵng</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 2 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Lạt</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 3 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đak Lak</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                    </div>
                </article>
                <!-- Route 3 -->
                <article class="route-item">
                    <div class="route-item__thumb">
                        <img loading="lazy" width="360" height="140" decoding="async" src="./assets/imgs/sg.png" alt=""
                            class="">
                    </div>
                    <div class="route-item__intro">
                        <span class="route-item__intro--text">Tuyến xe từ</span>
                        <br>
                        <span class="route-item__intro--bold">Hà Tĩnh</span>
                    </div>
                    <div class="route-item__list">
                        <!-- Item 1 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Nẵng</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 2 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đà Lạt</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                        <!-- Item 3 -->
                        <div class="route-item__item">
                            <div class="route-item__item--title">
                                <span class="route-item__item--text">Đak Lak</span>
                                <span class="route-item__item--price">200.00đ</span>
                            </div>
                            <span class="route-item__item--desc">350km - 8 giờ - 21/03/2025</span>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- Khuyến mãi -->
        <section id="sales" class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Khuyến mãi nổi bật</h2>
            </div>
            <div class="home__sales-container">
                <div class="home__sales">
                    <span class="home__sales--view d-md-none">Xem tất cả</span>
                    <div class="sales-container">
                        <div class="sales-list">
                            <!-- Sales 1 -->
                            <article class="sales-item">
                                <img src="./assets/imgs/sales.png" alt="" class="sales-item__thumb">
                                <div class="sales-item__info">
                                    <h3 class="sales-item__title">
                                        Giảm thêm đến 50K khi thanh toán bằng ví MoMo trong khung giờ Flash Sale
                                    </h3>
                                </div>
                            </article>
                            <!-- Sales 2 -->
                            <article class="sales-item d-sm-none">
                                <img src="./assets/imgs/sales.png" alt="" class="sales-item__thumb">
                                <div class="sales-item__info">
                                    <h3 class="sales-item__title">
                                        Giảm thêm đến 50K khi thanh toán bằng ví MoMo trong khung giờ Flash Sale
                                    </h3>
                                </div>
                            </article>
                            <!-- Sales 3 -->
                            <article class="sales-item d-lg-none">
                                <img src="./assets/imgs/sales.png" alt="" class="sales-item__thumb">
                                <div class="sales-item__info">
                                    <h3 class="sales-item__title">
                                        Giảm thêm đến 50K khi thanh toán bằng ví MoMo trong khung giờ Flash Sale
                                    </h3>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <ul class="slick-dots">
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li class="slick-active">
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Tin tức -->
        <section id="news" class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Tin tức mới</h2>
            </div>
            <div class="home__sales-container">
                <div class="home__sales">
                    <span class="home__sales--view d-md-none">Xem tất cả</span>
                    <div class="sales-container">
                        <div class="sales-list">
                            <!-- Sales 1 -->
                            <a href="#!">
                                <article class="sales-item">
                                    <img src="./assets/imgs/order.png" alt="" class="sales-item__thumb">
                                    <div class="sales-item__info">
                                        <h3 class="sales-item__title">
                                            Cách chọn điểm đón xe gần bạn nhất
                                        </h3>
                                    </div>
                                    <div class="sales-item__desc">
                                        <span class="sales-item__desc--text">22/03/2025</span>
                                        <span class="sales-item__desc--detail">
                                            Chi tiết
                                            <img src="./assets/icons/arrow.svg" alt="" class="sales-item__desc--icon">
                                        </span>
                                    </div>
                                </article>
                            </a>
                            <!-- Sales 2 -->
                            <article class="sales-item d-sm-none">
                                <img src="./assets/imgs/sales.png" alt="" class="sales-item__thumb">
                                <div class="sales-item__info">
                                    <h3 class="sales-item__title">
                                        Giảm thêm đến 50K khi thanh toán bằng ví MoMo trong khung giờ Flash Sale
                                    </h3>
                                </div>
                                <div class="sales-item__desc">
                                    <span class="sales-item__desc--text">22/03/2025</span>
                                    <span class="sales-item__desc--detail">
                                        Chi tiết
                                        <img src="./assets/icons/arrow.svg" alt="" class="sales-item__desc--icon">
                                    </span>
                                </div>
                            </article>
                            <!-- Sales 3 -->
                            <article class="sales-item d-lg-none">
                                <img src="./assets/imgs/sales.png" alt="" class="sales-item__thumb">
                                <div class="sales-item__info">
                                    <h3 class="sales-item__title">
                                        Giảm thêm đến 50K khi thanh toán bằng ví MoMo trong khung giờ Flash Sale
                                    </h3>
                                </div>
                                <div class="sales-item__desc">
                                    <span class="sales-item__desc--text">22/03/2025</span>
                                    <span class="sales-item__desc--detail">
                                        Chi tiết
                                        <img src="./assets/icons/arrow.svg" alt="" class="sales-item__desc--icon">
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <ul class="slick-dots">
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li class="slick-active">
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Đánh giá -->
        <section class="home__container">
            <div class="home__row">
                <h2 class="home__heading">Khách hàng nói gì về LUXURY</h2>
            </div>
            <div class="home__review-container">
                <div class="home__review row row-cols-3 row-cols-lg-2 row-cols-md-1">
                    <!-- Review 1 -->
                    <div class="col">
                        <article class="review-item">
                            <div class="review-item__avt">
                                <img src="./assets/imgs/avatar.png" alt="" class="review-item__avt--img">
                            </div>
                            <div class="review-item__info">
                                <div class="review-item__title">
                                    <h4 class="review-item__title--text">Dev Nguyen</h4>
                                </div>
                                <p class="review-item__title--desc">Streamer</p>
                                <div class="review-item__desc">
                                    <p class="review-item__desc--text">
                                        Chất lượng tốt, nhân viên nhiệt tình phục vụ khách hàng ,xe chạy êm đảm bảo an toàn trên mọi nẻo
                                        đường. Mình tin rằng
                                        với phương trâm phục vụ tốt khách hàng thì mọi người sẽ đi xe Luxury nhiều hơn.
                                    </p>
                                </div>
                                <div class="review-item__star">
                                    <span>
                                        <img class="" src="./assets/icons/review.svg" alt="">
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- Review 2 -->
                    <div class="col d-md-none">
                        <article class="review-item">
                            <div class="review-item__avt">
                                <img src="./assets/imgs/avatar.png" alt="" class="review-item__avt--img">
                            </div>
                            <div class="review-item__info">
                                <div class="review-item__title">
                                    <h4 class="review-item__title--text">Dev Nguyen</h4>
                                </div>
                                <p class="review-item__title--desc">Streamer</p>
                                <div class="review-item__desc">
                                    <p class="review-item__desc--text">
                                        Chất lượng tốt, nhân viên nhiệt tình phục vụ khách hàng ,xe chạy êm đảm bảo an toàn trên mọi nẻo
                                        đường. Mình tin rằng
                                        với phương trâm phục vụ tốt khách hàng thì mọi người sẽ đi xe Luxury nhiều hơn.
                                    </p>
                                </div>
                                <div class="review-item__star">
                                    <span>
                                        <img class="" src="./assets/icons/review.svg" alt="">
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- Review 3 -->
                    <div class="col d-lg-none">
                        <article class="review-item">
                            <div class="review-item__avt">
                                <img src="./assets/imgs/avatar.png" alt="" class="review-item__avt--img">
                            </div>
                            <div class="review-item__info">
                                <div class="review-item__title">
                                    <h4 class="review-item__title--text">Dev Nguyen</h4>
                                </div>
                                <p class="review-item__title--desc">Streamer</p>
                                <div class="review-item__desc">
                                    <p class="review-item__desc--text">
                                        Chất lượng tốt, nhân viên nhiệt tình phục vụ khách hàng ,xe chạy êm đảm bảo an toàn trên mọi nẻo
                                        đường. Mình tin rằng
                                        với phương trâm phục vụ tốt khách hàng thì mọi người sẽ đi xe Luxury nhiều hơn.
                                    </p>
                                </div>
                                <div class="review-item__star">
                                    <span>
                                        <img class="" src="./assets/icons/review.svg" alt="">
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <ul class="slick-dots">
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li class="slick-active">
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                    <li>
                        <div class="dots"></div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer"></footer>
    <script>
        load("#footer", "./templates/footer.html");
    </script>

    <script src="./assets/js/index.js"></script>
</body>

</html>