<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY BUS</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/logo72x72.png">
    <link rel="icon" type="image/icon" sizes="32x32" href="./assets/favicon/logo32x32.png">
    <link rel="icon" type="image/icon" sizes="16x16" href="./assets/favicon/logo16x16.png">
    <link rel="manifest" href="./assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Icon -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- Styles -->
    <link rel="stylesheet" href="./assets/css/main.css">

    <!-- Script -->
    <script src="./assets/js/scripts.js"></script>

</head>

<body>
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <!-- Logo -->
            <a id="home" href="./index.html" class="logo top-bar-logo">
                <img src="./assets/icons/logo.svg" alt="LUXURY BUS" class="top-bar-logo__img">
            </a>
    
            <div class="top-bar">
                <!-- More -->
                <button class="top-bar__more d-none d-lg-block">
                    <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon">
                </button>
    
                <!-- Actions -->
                <div class="top-act d-lg-none">
    
                    <a href="#!" class="top-act__sign-up">
                        <img src="./assets/icons/person.svg" alt="">
                        <span class="top-act__title">Đăng nhập/Đăng ký</span>
                    </a>
                </div>
    
                <!-- More -->
                <button class="top-bar__more d-none d-lg-block">
                    <img src="./assets/icons/person.svg" alt="" class="icon top-bar__more-icon">
                </button>
            </div>
    
        </div>
    </header>

    <!-- Main -->
    <main class="container auth-content">
        <div class="auth">
            <!-- Auth Intro -->
            <div class="auth__intro d-lg-none">
                <p class="auth__intro-text">
                    <span class="text-2xl font-semibold text-green">LUXURY BUS</span>
                    <br>
                    <span class="text-xl">Cùng bạn trên mọi nẻo đường</span>
                </p>
                <div class="auth__intro-img">
                    <div class="auth__intro-img--custom">
                        <img src="./assets/imgs/intro.png" alt="" class="auth__intro-img--custom-img">
                    </div>

                </div>
            </div>
            
            <!-- Auth Content -->
            <div class="auth__content">
                <div class="auth__content-inner">
                    <h1 class="auth__heading">Đăng nhập tài khoản</h1>
                    
                    <form action="./index-logined.html" class="form auth__form">
                        <div class="form__group">
                            <div class="form__text-input">
                                <input type="tel" name="" id="" placeholder="Nhập số điện thoại" class="form__input" required
                                    autofocus>
                                <img src="./assets/icons/messager.svg" alt="" class="form__input-icon">
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form__text-input">
                                <input type="password" name="" id="" placeholder="Password" class="form__input" required
                                minlength="6">
                                <img src="./assets/icons/lock.svg" alt="" class="form__input-icon">
                            </div>
                        </div>
                        <div class="form__group form__group--inline">
                            <label class="form__checkbox">
                                <input type="checkbox" name="" id="" class="form__checkbox-input d-none">
                                <span class="form__checkbox-label">Lưu thông tin đăng nhập</span>
                            </label>
                            <a href="./reset-password.html" class="auth__link form__pull-right">Quên mật khẩu</a>
                        </div>
                        <div class="form__group auth__btn-group">
                            <button class="btn btn--primary auth__btn form__submit-btn">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer"></footer>
    <script>
        load("#footer", "./templates/footer.html");
    </script>
</body>

</html>